<div id="<%= dom_id assignment %>">
  <p>
    <strong>Table:</strong>
    <%= assignment.table_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= assignment.user_id %>
  </p>

  <p>
    <strong>Assigned time:</strong>
    <%= assignment.assigned_time %>
  </p>

</div>
