<div id="<%= dom_id order %>">
  <p>
    <strong>Table:</strong>
    <%= order.table_id %>
  </p>

  <p>
    <strong>Order time:</strong>
    <%= order.order_time %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
